.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
.container {
	font-family: "Helvetica", "Verdana", "Roboto", sans-serif;
	padding-top: 90;
	padding-right: 50;
}